<div class="container">
  
  <% if @posts.any? %>
    <div class ="post">
      <ul>
        <% @posts.each do |post| %>
            <li>
              <div class ="image">
                <%= link_to artworks_path do %>
                  <%= image_tag image1_url(post) %>
                <% end %>
              </div>
              <p><%= product.name %></p>
              <p><%= user.name %></p>
            </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p class="empty">投稿がありません。</p>
  <% end %>
  
  