<div class="container">
  <div class="user">
    <ul>
      <div class="image">
        <image_tag>
      </div>
      <li><名前></li>
      <li>フォロー</li>
      <li>フォロワー</li>
      <li>ブックマーク</li>
      <li>投稿した作品</li>
    </ul>
  </div>
</div>